<div
        *ngIf="showToggle"
        [style.display]="'block'"
        [style.background-color]="'rgba(0,0,0,0.4)'"
        class="modal fade in" id="editRow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="showToggle = false" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h2 class="modal-title">{{'meals.edit' | i18nPipe}}</h2>
            </div>
            <div class="modal-body">

                <form [formGroup]="mealForm" class="form-horizontal" id="detailsForm">
                    <input type="hidden" id="id" name="id">

                    <div class="form-group">
                        <label for="dateTime" class="control-label col-xs-3">{{'meals.dateTime' | i18nPipe}}</label>

                        <div id="dateTime" class="col-xs-9">
                            <p-calendar id="dateTime"
                                        dateFormat="yy-dd-mm"
                                        formControlName="dateTime"
                                        showTime="true" hourFormat="24"
                                        [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-xs-3">{{'meals.description' |
                            i18nPipe}}</label>

                        <div class="col-xs-9">
                            <input
                                    [formControl]="mealForm.controls['description']"
                                    type="text" class="form-control"
                                    id="description" name="description"
                                    placeholder="{{'meals.description' | i18nPipe}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="calories" class="control-label col-xs-3">{{'meals.calories' | i18nPipe}}</label>

                        <div class="col-xs-9">
                            <input formControlName="calories" type="number" class="form-control"
                                   id="calories" name="calories"
                                   placeholder="2000" min="10" max="5000">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="button" [disabled]="!mealForm.valid || !mealForm.dirty" (click)="onSave()"
                                    class="btn btn-primary">{{'common.save' | i18nPipe}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>